body {
	background-color: white;
	margin-left: 200px;
    margin-right: 200px;
}

#header {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  
}

li a {
  display: block;
  color: slategrey;
  text-align: left;
  padding: 28px 35px 28px 0px;
  text-decoration: none;
  
}

li a:hover {
  text-decoration: underline;
}

#site-title{
	font-family:"Andale Mono", monospace;
	font-size:20px;
}

.page-link{
	font-family:"Geneva", sans-serif;
	font-size:16px;
}

h1 {
	font-family: "New Century Schoolbook", serif;
	font-size:28px;
}

p {
	font-family:"Geneva", sans-serif;
	font-size: 14px;
}

.containter {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

$border-color: rgba(steelblue, .3);

.timeline-item {
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(slategrey, .7);
	border-left: 2px solid $border-color;

	p {
		font-size: 1rem;
	}

	&::before {
		content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: "Geneva", sans-serif;
		font-weight: 700rem;
	}

	&::after {
		width:10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -7px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
		background: white;
	}

	&:last-child {
		border-image:linear-gradient(to bottom, $border-color 60%, 
			argba($border-color, 0)) 1 100%;
	}
}