body {
	background-color: white;

}

ul {
  list-style-type: none;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: slategrey;
  text-align: left;
  padding: 28px 35px 28px 0px;
  text-decoration: none;
  
}

li a:hover {
  text-decoration: underline;
}

#site-title{
	font-family:"Andale Mono", monospace;
	font-size:20px;
	float:left;
}

.page-link{
	font-family:"Geneva", sans-serif;
	font-size:16px;
}
#canyon {
	width: 100%;
	border: 0;
}

#me {
	width: 400px;
	height: 400px;
	margin-left: 200px;
  	margin-right: 100px;
  	border-radius: 50%;
  	padding: 100px 0px 100px 0px;
  	float:left;
}

h1 {
	padding-top: 150px;
  	color: slategrey;
	font-family: "New Century Schoolbook", serif;
	font-size:28px;
	text-align: center;
	text-decoration: bold;
	padding-bottom: 5px;

}

h2 {
  	color: slategrey;
	font-family: "Apple Chancery", cursive;
	font-size: 20px;
	text-align: center;
	text-decoration: italic;
	padding-bottom: 0px;
	margin-right: 200px;
}

#hello {
  	color: slategrey;
	font-family:"Geneva", sans-serif;
	font-size: 14px;
	text-align: justify;
	margin-right: 200px;
}

#box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 200px;
}

#box-link {
	font-family:"Andale Mono", monospace;
	font-size: 14px;
	background-color:#6099c9;
	color:white;
	padding:14px 25px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	border-radius: 5px;
}

#box-link:hover {
	background-color:steelblue;
}