body {
	background-color: white;

}

ul {
  list-style-type: none;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: slategrey;
  text-align: left;
  padding: 35px 35px 35px 0px;
  text-decoration: none;
  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
}

#canyon {
	width: 100%;
}