body {
	background-color: slategrey;
	margin-left: 200px;
  	margin-right: 200px;
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 25px 25px 25px 0px;
  text-decoration: none;
  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
}