/* Remove the bullets from the unordered list */
#header {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  
}

li a {
  display: block;
  color: slategrey;
  text-align: left;
  padding: 28px 35px 28px 0px;
  text-decoration: none;
  
}

/* underline the page links when hovered over */
li a:hover {
  text-decoration: underline;
}

#site-title{
	font-family:"Andale Mono", monospace;
	font-size:20px;
	float:left;
}

.page-link{
	font-family:"Geneva", sans-serif;
	font-size:16px;
}

/* set the page tabs to the left of the navigation bar */
.link-float {
  float:right;
}