body {
	background-color: white;
	margin-left: 200px;
    margin-right: 200px;

}

#header {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  
}

li a {
  display: block;
  color: slategrey;
  text-align: left;
  padding: 28px 35px 28px 0px;
  text-decoration: none;
  
}

li a:hover {
  text-decoration: underline;
}

#site-title{
	font-family:"Andale Mono", monospace;
	font-size:20px;
}

.page-link{
	font-family:"Geneva", sans-serif;
	font-size:16px;
}

#edu-sec {
	width: 450px;
	background-color:steelblue;
	color:white;
	display:inline-block;
	border-radius: 10px;
	padding:14px 25px;
}

#coursework {
	text-align: justify;
}

h1 {
	font-family: "New Century Schoolbook", serif;
	font-size:28px;
	text-decoration: bold;
}

p {
	font-family:"Geneva", sans-serif;
	font-size: 14px;
}

.date {
	float:right;
	text-align: right;
}